################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChainConnext/FileContentIndex
/ChainConnext/Client/obj
/ChainConnext/Server/obj/Debug/net8.0/ChainConnext.Server.assets.cache
/ChainConnext/Server/obj/Debug/net8.0/ChainConnext.Server.csproj.AssemblyReference.cache
/ChainConnext/Server/obj/Debug/net8.0/ChainConnext.Server.GeneratedMSBuildEditorConfig.editorconfig
/ChainConnext/Server/obj/ChainConnext.Server.csproj.nuget.dgspec.json
/ChainConnext/Server/obj/project.assets.json
/ChainConnext/Server/obj/project.nuget.cache
/ChainConnext/Shared/obj/Debug/net8.0/ChainConnext.Shared.AssemblyInfo.cs
/ChainConnext/Shared/obj/Debug/net8.0/ChainConnext.Shared.AssemblyInfoInputs.cache
/ChainConnext/Shared/obj/Debug/net8.0/ChainConnext.Shared.assets.cache
/ChainConnext/Shared/obj/Debug/net8.0/ChainConnext.Shared.GeneratedMSBuildEditorConfig.editorconfig
/ChainConnext/Shared/obj/ChainConnext.Shared.csproj.nuget.dgspec.json
/ChainConnext/Shared/obj/project.assets.json
/ChainConnext/Shared/obj/project.nuget.cache
*.v2
.vs/ChainConnext/v17/.suo
*.bin
/ChainConnext/Client/bin
/ChainConnext/Server/bin
/ChainConnext/Server/obj/Debug/net8.0
/ChainConnext/Server/obj/Release/net8.0
/ChainConnext/Shared/bin
/ChainConnext/Shared/obj
/ChainConnext/Client/obj/ChainConnext.Client.csproj.nuget.g.props
/ChainConnext/Client/obj/ChainConnext.Client.csproj.nuget.g.targets
/ChainConnext/Server/obj/Debug/net8.0/ChainConnext.Server.AssemblyInfo.cs
/ChainConnext/Server/obj/Debug/net8.0/ChainConnext.Server.AssemblyInfoInputs.cache
/ChainConnext/Server/file_exam/~$Imp_Card_Trans.xlsx
/ChainConnext/Shared/obj/Debug/net8.0/ChainConnext.Shared.csproj.AssemblyReference.cache
*.props
.vs/ChainConnext/v17/DocumentLayout.json
ChainConnext/Server/obj/ChainConnext.Server.csproj.nuget.g.props
ChainConnext/Shared/obj/ChainConnext.Shared.csproj.nuget.g.props
*.props
/ChainConnext/Server/obj/ChainConnext.Server.csproj.nuget.g.props
/.vs
/ChainConnext/Server/obj
/ChainConnext/Server/obj/ChainConnext.Server.csproj.nuget.g.targets
/ChainConnext/Server/Properties/PublishProfiles/FolderProfile1.pubxml.user
