@page "/rpt/contract"

@inject ILogger<ContractCloneReport> Logger
@inject DialogService dialogService
@inject IJSRuntime jsRuntime
@inject NavigationManager Navigation
@inject IAccountService _accountService
@inject NotificationService NotificationService
@inject HttpClient Http
@inject IPrintingService PrintingService

<PageTitle>@TitlePage</PageTitle>
<h1>@TitlePage</h1>
@if (!IsAccess)
{
    <RadzenText TextStyle="TextStyle.H1">ไม่มีสิทธิในส่วนนี้</RadzenText>
}
else
{
    <RadzenStack>
        <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenLabel Text="รหัสสาขา" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" SizeMD="4">
                        <RadzenDropDown @bind-Value=@BranchCode Placeholder="Select something" Class="w-100" AllowClear="true"
                                        Data=@branches TextProperty="Name" ValueProperty="Code"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowFiltering="true">
                        </RadzenDropDown>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenLabel Text="วันที่ทำสัญญา" />
                    </RadzenColumn>
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenDatePicker Name="DateFrom" @bind-Value=@ContDateFrom DateFormat="dd/MM/yyyy" Placeholder="จาก">
                            <FooterTemplate>
                                <RadzenButton Click=@(args => @ContDateFrom = DateTime.Now) Text="Today" class="my-3 w-100" />
                            </FooterTemplate>
                        </RadzenDatePicker>
                    </RadzenColumn>
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenDatePicker Name="DateFrom" @bind-Value=@ContDateTo DateFormat="dd/MM/yyyy" Placeholder="ถึง">
                            <FooterTemplate>
                                <RadzenButton Click=@(args => @ContDateTo = DateTime.Now) Text="Today" class="my-3 w-100" />
                            </FooterTemplate>
                        </RadzenDatePicker>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenLabel Text="เลขสัญญา" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" SizeMD="2">
                        <RadzenTextBox Class="w-100" @bind-Value=@ContNo Change=@(args => OnChange(args, "ContNo")) />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="4" SizeMD="4" OffsetMD="2" Offset="4">
                        <RadzenCheckBox @bind-Value=@IsX Name="IsX" />
                        <RadzenLabel Text="เฉพาะสัญญา X" Component="IsX" Style="margin-left: 8px; vertical-align: middle;" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Center" class="my-3">
                    <RadzenColumn Size="4" SizeMD="2" OffsetMD="2" Offset="4">
                        <RadzenButton Text="Find" Icon="search" Class="w-100" ButtonStyle="ButtonStyle.Info" Click=@(() => Find()) IsBusy=@IsLoading />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Center" class="my-3">
                    <RadzenColumn Size="4" SizeMD="2" OffsetMD="2" Offset="4">
                        <RadzenButton Text="Print" Icon="print" Class="w-100" ButtonStyle="ButtonStyle.Primary" Click=@(() => Print()) IsBusy=@IsLoading Visible=@IsPdfData />
                    </RadzenColumn>
                    <RadzenColumn Size="4" SizeMD="2">
                        <RadzenButton Text="Excel" Icon="view_list" Class="w-100" ButtonStyle="ButtonStyle.Success" Click=@(() => ExportExcel()) IsBusy=@IsLoading Visible=@IsData />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}